/* Navigation Bar Buttons */

.nav-buttons {
    border: none;
    cursor: pointer;
    outline: none;
}

/* Main Section Buttons*/

.button-cta {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 150px;
}

.button-cta:active {
    filter: brightness(125%);
}

.button-cta:hover {
    filter: brightness(115%);
}