/* Navigation Bar Buttons */

.nav-buttons {
    border: none;
    cursor: pointer;
    outline: none;
}

/* Main Section Buttons*/

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button-get-started {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.button-get-started:active {
    filter: brightness(125%);
}

.button-get-started:hover {
    filter: brightness(115%);
}