/* Background Colors */

.bg-black {
    background-color: #0f0f0f;
}

.bg-dark-blue {
    background-color: rgb(64, 80, 133);
}

.bg-dark-gray {
    background-color: rgb(34, 34, 34);
}

.bg-light-gray {
    background-color: #363636;
}

.bg-transparent {
    background-color: transparent;
}

.bg-red {
    background-color: #ff0000;
}

.bg-yellow {
    background-color: #505023;
}

/* Text Colors */

.gray {
    color: rgb(199, 199, 199);
}

.green {
    color: rgb(0, 255, 0);
}

.light-blue {
    color: rgb(154, 169, 218);
}

.orange {
    color: #ffa600;
}

.purple {
    color: #e200e2;
}

.white {
    color: #ffffff;
}