/* Background Color of Page */

body {
    background-color: #0f0f0f;
}

/* Variables */

:root  {
    --dark-blue: rgb(64, 80, 133);
}

/* Background Colors */

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-dark-gray {
    background-color: rgb(34, 34, 34);
}

.bg-light-gray {
    background-color: #363636;
}

.bg-transparent {
    background-color: transparent;
}

/* Text Colors */

.text-gray {
    color: rgb(199, 199, 199);
}

.text-green {
    color: rgb(0, 255, 0);
}

.text-light-blue {
    color: rgb(154, 169, 218);
}

.text-orange {
    color: #ffa600;
}

.text-purple {
    color: #e200e2;
}

.text-white {
    color: #ffffff;
}