
/* Features Containers */
.features-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.feature {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: center;
    margin-bottom: 10px;
    width: 300px;
    padding-left: 10px;
}

.feature:hover {
    outline: 2px solid rgb(64, 80, 133);
}

.feature-header {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px){
    .features-container {
        flex-direction: row;
        justify-content: center;

    }

    .feature {
        margin-right: 20px; 
      }
}