* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

#navbar {
  align-items: center;
  display: flex;
  grid-area: 1 / 1 / 2 / 13;
  justify-content: space-between;
}

#content {
  grid-area: 2 / 1 / 12 / 13;
  overflow-y: auto;
}

#footer {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-area: 13 / 1 / 12 / 13;
}

#navbar-layout-2 {
  align-items: center;
  display: flex;
  grid-area: 1 / 1 / 2 / 13;
  justify-content: space-between;
}

#content-layout-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 12 / 13;
  overflow-y: auto;
}

#footer-layout-2 {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-area: 13 / 1 / 12 / 13;
}

@media screen and (min-width: 768px) {
  #navbar {
    justify-content: space-around;
  }
  
  #navbar-layout-2 {
    justify-content: space-around;
  }

}

@media screen and (min-width: 960px) {
  #navbar-layout-2 {
    grid-area: 1 / 3 / 2 / 13;
  }

  #content-layout-2 {
    grid-area: 2 / 3 / 12 / 13;
  }

  #footer-layout-2 {
    grid-area: 13 / 3 / 12 / 13;
  }

  #sidebar-layout-2 {
    grid-area: 1 / 1 / 13 / 3;
    overflow-y: auto;
  }
}

@media screen and (max-width: 959px) {
  #sidebar-layout-2 {
    display: none;
  }
}