/* Navigation Bar Icons */

.fa-magnifying-glass,
.fa-bars {
    font-size: 18px;
    padding-right: 5px;
}

.fa-arrows-rotate,
.fa-puzzle-piece,
.fa-sliders {
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
}

.title {
    margin-left: 5px;
    margin-right: 10px;
}

.socials {
    margin-right: 10px;
}

.socials:last-child {
    margin-right: 0;
}
.socials:hover {
    cursor: pointer;
    filter: brightness(90%);
}
