/* Image Section */
.hero-image {
    height: auto;
    margin: auto;
    margin-top: 20px;
    width: 350px;
}

/* Media query for desktop mode */
@media screen and (min-width: 960px) {
    .hero-image {
        width: 500px;
    }
}