:root {
    --box-color: #363636;
    --feature-icon-background: #666666;
    --header-color: rgb(154, 169, 218);
    --mobile-feature-icon-size: 20px;
    --mobile-feature-title-size: 20px;
    --mobile-feature-text-size: 17px;
    --mobile-feature-link-size: 15px;
    --mobile-header-font-size: 25px;
    --mobile-subheader-font-size: 30px;
    --subheader-color: white;
    --secondary-color: #272727;
    --text-color: rgb(199, 199, 199);
}


/* Navigation Bar */

#title h1,
#title i {
    color: white;
    font-size: var(--mobile-header-font-size);
    margin-left: 5px;
}

#options {
    margin: 0px 10px;
}

#options button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

#options button i {
    color: white;
    font-size: var(--mobile-header-font-size);
}

.fa-magnifying-glass {
    margin-right: 5px;
}

/* Main */

/* Image Section */
#image-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

#image-container img {
    height: auto;
    margin-top: 20px;
    width: 350px;
}

/* Hero Section */
#hero-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#hero-text-container {
    line-height: 1;
    margin: 10px 0;
    text-align: center;
  }

#hero-text-container h2{
    color: var(--header-color);
    font-size: 30px;
    margin: 0;
}

#hero-text-container h3 {
    color: var(--subheader-color);
    font-size: var(--mobile-subheader-font-size);
}

#hero-text-container h4 {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 10px;
}

/* Button Section */
#button-container {
    display: flex;
    justify-content: center;
}

#button-container button {
    background-color: white;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 30px;
}

/* Features Section */
#features-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.feature {
    display: flex;
    background-color: var(--box-color);
    border-radius: 15px;
    flex-direction: column;
    height: 180px;
    margin-top: 10px;
    width: 90%;
}

.feature-item-container {
    margin: 20px 20px;
}

.fa-arrows-rotate,
.fa-puzzle-piece,
.fa-sliders {
    background-color: var(--feature-icon-background);
    border-radius: 5px;
    color: white;
    font-size: var(--mobile-feature-icon-size);
    margin-bottom: 10px;
    padding: 10px;
}

.feature h4 {
    color: white;
    font-size: var(--mobile-feature-title-size);
    margin-bottom: 10px;
}

.feature h5 {
    color: var(--text-color);
    font-size: var(--mobile-feature-text-size);
    line-height: 1.2;
    margin-bottom: 10px;
    text-decoration: none;
}

.feature p {
    color: var(--header-color);
    font-size: var(--mobile-feature-link-size);
    font-weight: 600;
}