@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: var(--font-roboto);
}

:root {
    --button-font-size: 20px;
    --feature-link-size: 15px;
    --font-roboto: 'Roboto', sans-serif;
    --feature-text-size: 17px;
    --feature-title-size: 20px;
    --subheader-font-size: 30px;
    --title-font-size: 20px;
}

/* Navigation Bar */

.title h1 {
    font-size: var(--title-font-size);
    margin-left: 5px;
}

/* Hero Section */

.hero-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hero-text-container {
    line-height: 1;
    margin: 10px 0;
    text-align: center;
}

.hero-text-container h2{
    font-size: 30px;
    margin: 0;
}

.hero-text-container h3 {
    font-size: var(--subheader-font-size);
}

.hero-text-container h4 {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 10px;
}

/* Button Section */

.button-container button {
    font-family: var(--font-roboto);
    font-size: var(--button-font-size);
    font-weight: 400;
    letter-spacing: 1px;
}

/* Features Section */

.feature h4 {
    font-size: var(--feature-title-size);
    margin-bottom: 10px;

}

.feature h5 {
    font-size: var(--feature-text-size);
    line-height: 1.2;
    margin-bottom: 10px;
    text-decoration: none;
}

.feature p {
    font-size: var(--feature-link-size);
    font-weight: 600;
}